include README.rst
recursive-include django_web_profiler/templates *
recursive-include django_web_profiler/static *
recursive-include django_web_profiler/management *
recursive-include django_web_profiler/migrations *
